<!DOCTYPE html>
<html lang="en">
<head>

<style type="text/css">

 table {
    border-collapse: collapse;
    width: 90%;
}
.innerTable
{
 width: 40%;
}
th, td {
    text-align: left;
    padding: 8px;
}

.innerTd{
height: 120px;
width:120px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

</style>
 
</head>
<body class="home">


	
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<ul class="info-list">
									<li>
										<i class="fa fa-globe"></i>
										Language: <span>English</span>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										Call us:
										<span>+1 223 334 3434</span>
									</li>
									<li>
										<i class="fa fa-clock-o"></i>
										working time:
										<span>08:00 - 19:00</span>
									</li>
								</ul>
							</div>	
							<div class="col-md-4">
								<ul class="social-icons">
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="container" style="background:orange;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">Chat-Book</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
				     <li><a href="#/home">Home</a></li>
					<li><a href="#/viewProfile">My Profile</a></li>					
										
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Search By Profile Id</a></li>
							<li><a href="sidebar-right.html">Search By Profession</a></li>
							<li><a href="single.html">Search By Caste/Religion</a></li>
						</ul>
					</li>
								
				</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>			
		</header>
		<!-- End Header -->
</div>

<main id="main">

	<div class="container">

		<div class="row section recentworks topspace" style="margin-top: 154px;margin-left: 20px;">
	
			<h2 class="section-title"><span>Friends List</span></h2>
	<table>		 
		<tr ng-repeat="frinedrequest in friendlist">
		  <td class="innerTd"><img ng-src="data:image/jpeg;base64,{{frinedrequest.imagePojo.image}}" class="innerTd"></td>
		  <td>
		     <table class="innerTable">
		       <tr>
		        <td>Name</td> <td>{{frinedrequest.userObject.name}}</td>
		       </tr>
		        <tr>
		        <td>Location</td> <td>{{frinedrequest.userObject.location}}</td>
		       </tr>
		        <tr>
		        <td>Age</td> <td>{{frinedrequest.userObject.age}}</td>
		       </tr>
		        <tr>
		        <td>Caste</td> <td>{{frinedrequest.userObject.caste}}</td>
		       </tr>
		       <tr>
		       <td><a href="">Remove</a></td>
		       </tr>
		       
		     </table>
		  </td>
		  
		</tr>
		
		<!-- <thead>
		<tr>
		<th>Image</th>
		<th>Name</th>		
		<th>Location</th>
		<th>Age</th>
		<th>Caste</th>
		<th>Operation</th>
		</tr>
	  </thead>
	<tbody>	
	<tr ng-repeat="frinedrequest in friendlist">
		<td>   <img ng-src="data:image/jpeg;base64,{{frinedrequest.imagePojo.image}}" height="40px" width="40px"></td>
						
					<td>{{frinedrequest.userObject.name}} </td>					
					<td>{{frinedrequest.userObject.location}}</td>
					<td>{{frinedrequest.userObject.age}}</td>
					<td>{{frinedrequest.userObject.caste}}</td>
					<td><a href="">Remove</a></td>
	</tr>
			</tbody> -->
			
</table>
 </div>
	

		<div class="row section topspace">
			<div class="panel panel-cta"><div class="panel-body">
				<div class="col-lg-8">
					<p>A simple, nice-looking <b>call to action box</b>. Boxing is about respect. getting it for yourself, 
					and taking it away from the other guy. no, this is mount everest. </p>
				</div>
				<div class="col-lg-4 text-right">
					<a href="http://www.gettemplate.com/downloads/initio.zip " class="btn btn-primary btn-lg">Download template</a>
				</div>
			</div></div>
		</div> <!-- /section -->

		<div class="row section clients topspace">
			<h2 class="section-title"><span>Clients</span></h2>
			<div class="col-lg-12">
				<p>
					<img src="angular/images/sample_clients.png" alt="">
				</p>
			</div>
		</div> <!-- /section -->

	</div>	<!-- /container -->

</main>


<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>	
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>	
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>234 Hidden Pond Road, Ashland City, TN 37015 </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2014, Your awesome name here<br> 
						Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>

</body>
</html>
