<!doctype html>

<html lang="en" class="no-js">
<head>
	<title>shaadi.com</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	<!-- Container -->
	<div id="container">
			<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<ul class="info-list">
									<li>
										<i class="fa fa-globe"></i>
										Language: <span>English</span>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										Call us:
										<span>+1 223 334 3434</span>
									</li>
									<li>
										<i class="fa fa-clock-o"></i>
										working time:
										<span>08:00 - 17:00</span>
									</li>
								</ul>
							</div>	
							<div class="col-md-4">
								<ul class="social-icons">
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#/home">Chat-Book</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="active" href="#/home">Home</a></li>
							<li><a href="#/about">About</a></li>							
							<li><a href="#/login">Login</a></li>
							<li><a href="#/viewProfile">View Profile</a></li>				
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- End Header -->

		<!-- home-section 
			================================================== -->
		<section id="home-section" class="slider1">
			

			<div id="rev_slider_66_1_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="web-product-dark62" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_66_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
					<ul>	<!-- SLIDE  -->
						<li data-index="rs-227" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
							<!-- MAIN IMAGE -->
							<img src="angular/upload/others/11.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
								 id="slide-227-layer-1" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
											data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="0" 
								data-basealign="slide" 
								data-responsive_offset="on" 

								
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);"> 
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption WebProduct-Title-Light   tp-resizeme" 
								 id="slide-227-layer-2" 
								 data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								 data-y="['middle','middle','top','top']" data-voffset="['-70','-70','147','140']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 11; white-space: nowrap;">Marriages are like <br/>fingerprints!
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme" 
								 id="slide-227-layer-3" 
								 data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								 data-y="['middle','middle','top','top']" data-voffset="['4','4','254','237']" 
											data-fontsize="['15','15','15','13']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1250" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption WebProduct-Content-Light   tp-resizeme" 
								 id="slide-227-layer-4" 
								 data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								 data-y="['middle','middle','top','top']" data-voffset="['60','58','275','247']" 
											data-fontsize="['16','16','16','14']"
								data-lineheight="['24','24','24','22']"
								data-width="['448','356','334','277']"
								data-height="['none','none','76','68']"
								data-whitespace="normal"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1500" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">Marriages are like fingerprints; each one is different and each one is beautiful.
							</div>

							<!-- LAYER NR. 5 -->
							<a class="tp-caption WebProduct-Button"
								href="#/login"  
								id="slide-227-layer-5" 
								data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								data-y="['middle','middle','top','top']" data-voffset="['138','138','326','290']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
								data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
					 
								data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1750" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-228","delay":""}]'
								data-responsive_offset="on" 
								data-responsive="off"
								
								style="z-index: 14; white-space: nowrap;letter-spacing:1px;">Register/Login
							</a>
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-228" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Examples" data-description="">
							<!-- MAIN IMAGE -->
							<img src="angular/upload/others/12.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
								 id="slide-228-layer-1" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
											data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="0" 
								data-basealign="slide" 
								data-responsive_offset="on" 

								
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);"> 
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption WebProduct-Title-Light   tp-resizeme" 
								 id="slide-228-layer-2" 
								 data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								 data-y="['middle','middle','top','top']" data-voffset="['-70','-70','147','140']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 11; white-space: nowrap;">Marriage has no <br/>baseline
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme" 
								 id="slide-228-layer-3" 
								 data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								 data-y="['middle','middle','top','top']" data-voffset="['4','4','254','237']" 
											data-fontsize="['15','15','15','13']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1250" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption WebProduct-Content-Light   tp-resizeme" 
								 id="slide-228-layer-4" 
								 data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								 data-y="['middle','middle','top','top']" data-voffset="['60','58','275','247']" 
											data-fontsize="['16','16','16','14']"
								data-lineheight="['24','24','24','22']"
								data-width="['448','356','334','277']"
								data-height="['none','none','76','68']"
								data-whitespace="normal"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1500" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">With a few exceptions, there is no standard of what is good, normal, acceptable, and what is not. No one can tell you what to do with it.
							</div>

							<!-- LAYER NR. 5 -->
							<a class="tp-caption WebProduct-Button"
								href="#/login"  
								id="slide-228-layer-5" 
								data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']" 
								data-y="['middle','middle','top','top']" data-voffset="['138','138','326','290']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
								data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
					 
								data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1750" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-228","delay":""}]'
								data-responsive_offset="on" 
								data-responsive="off"
								
								style="z-index: 14; white-space: nowrap;letter-spacing:1px;">Register/Login
							</a>
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-229" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Get a License" data-description="">
							<!-- MAIN IMAGE -->
							<img src="angular/upload/others/13.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
								 id="slide-229-layer-1" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
											data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="0" 
								data-basealign="slide" 
								data-responsive_offset="on" 

								
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);"> 
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption WebProduct-Title-Light tp-resizeme" 
								 id="slide-229-layer-2" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','top','top']" data-voffset="['-100','-100','196','207']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 6; white-space: nowrap;text-align:center;">Marriage is bigger than you.<br/>
					 Bigger than both of you!
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme" 
								 id="slide-229-layer-3" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','top','top']" data-voffset="['-24','-24','234','227']" 
											data-fontsize="['15','15','15','13']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1250" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 7; white-space: nowrap;letter-spacing:2px;font-weight:500;">
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption WebProduct-Content-Light   tp-resizeme" 
								 id="slide-229-layer-4" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','top','top']" data-voffset="['29','27','245','226']" 
											data-fontsize="['16','16','16','14']"
								data-lineheight="['24','24','24','22']"
								data-width="['448','356','334','277']"
								data-height="['none','none','76','68']"
								data-whitespace="normal"
								data-transform_idle="o:1;"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1500" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on" 

								
								style="z-index: 8; min-width: 448px; max-width: 448px; white-space: normal;text-align:center;">If my answer sounds like marriage is this mythical thing that cuddles in bed with you and your spouse and at times steals sheets – that’s because it is. Well, it’s not mythical, but it’s there, amorphous. It’s the third thing, between you, in your relationship. 
							</div>

							<!-- LAYER NR. 5 -->
							<a class="tp-caption WebProduct-Button" 
					 href="#" target="_blank"			 id="slide-229-layer-5" 
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								 data-y="['middle','middle','top','top']" data-voffset="['108','108','296','270']" 
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
									data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
					 
								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
								data-start="1750" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions=''
								data-responsive_offset="on" 
								data-responsive="off"
								
								style="z-index: 9; white-space: nowrap;letter-spacing:1px;" href="#/login">Register/Login
							</a>
						</li>
					</ul>
				</div><!-- END REVOLUTION SLIDER -->
			</div>
		</section>
		<!-- End home section -->

		<!-- banner-section 
			================================================== -->
	
			
			
			
			<section class="banner-section">
			
				<i><b><font face="Montserrat" color="white">
				
				<table>
				  <tr>
					  <td style="padding:10px;">Looking For:</td> <td></td>
					  <td style="padding:10px;"> <font color="black"><Select name="gender" ng-model="search.gender"> 
								<option selected disabled="Select Gender">Select Gender</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option></select></font>
					   </td>
					   
					   <td></td>
					   <td style="padding:10px;">Interested In:</td> <td style="padding:20px";><font color="black">
					   <Select name="interest" ng-model="search.interest"> 
								<option selected disabled="Interested In" ng-repeat="occupation in occupations">{{occupation}}</option>
								
								</td></select></font>
								
								<td style="padding:10px;">Age :</td><td><font color="black"><input type="text" style="width:70px" placeholder="From" ng-model="search.from">-<input type="text" style="width:70px"  placeholder="To" ng-model="search.to"></td>
								
								
				  <tr>
				  <tr>
				   <td style="padding:20px;">Location:</td><td></td>
					  <td style="padding:20px;"><font color="black"> <Select name="location" ng-model="search.location">  
								<option selected disabled="Select Location"  ng-repeat="location in locations">{{location}}</option>
								       
							</select></font>	
					   </td>
					   
					   <td></td>
					   <td style="padding:20px;">caste</td>
					   <td><font color="black"><input type="text" style="width:170px" placeholder="Caste" name="caste" ng-model="search.caste"></td>
					   </font>
								<td></td>
								<td><a href="#." class="button-one" ng-click="submit()">Find The Match</a></td>
				  
				  <tr>
				  
				<table></font></b></i>
		
		</section>
		
		<!-- End banner section -->

		<!-- consulting-section 
			================================================== -->
		
		<!-- services-section 
			================================================== -->
		<section class="services-section">
			<div class="services-box">
				<div class="container">
					<div class="row">

						<div class="col-md-4">
							<div class="services-post">
								<img src="angular/upload/others/1.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Marriage is not unconditional love</a></h2>
									<p>There is hate. Resentment. There is bitterness, isolation, betrayal and pain. I don’t feel love for my husband 24 hours a day, 365 days a year. Nor does he.</p>
									
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="angular/upload/others/2.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Marriage has inertia</a></h2>
									<p>There are times when we cannot access our love. Sometimes, it’s marriage – not love – that keeps us married. This thing manifest in shared cutlery and mattresses, Thanksgiving rituals and holiday cards – this thing sometimes keeps us together.</p>
									
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="services-post">
								<img src="angular/upload/others/3.jpg" alt="">
								<div class="services-content">
									<h2><a href="services-single.html">Marriage is not enough</a></h2>
									<p>Marriage is not a signal of success or achievement to the world. I’ve done this, I’m married, stop worrying, stop doubting. Perhaps for a while, but not for long. Not for ever. The what’s next questions persist. And nothing – not even marriage – is immune.</p>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- End services section -->

		<!-- statistic-section 
			================================================== -->
		<section id="statistic-section">
			<div class="container">
				<div class="statistic-box">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="10000"></span></p>
								<h2>Successfull Marriages</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="500"></span></p>
								<h2>Membership</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="542"></span></p>
								<h2>Happy Client</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="statistic-post">
								<p><span class="timer" data-from="0" data-to="1630"></span></p>
								<h2>People get help</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End statistic section -->

		<!-- choose section 
			================================================== -->
		
		<!-- End choose section -->

		<!-- news-section 
			================================================== -->
		<section class="news-section">
			<div class="container">
				<div class="title-section">
					<h1>Latest News</h1>
					<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu.</p>
				</div>
				<div class="news-box">
					<div class="row">
					
						<div class="col-md-4">
							<div class="news-post">
								<div class="news-gallery">
									<img src="angular/upload/blog/proj-1.jpg" alt="">
								</div>
								<div class="news-content">
									<h2><a href="single-post.html">Accusamus et iusto odio dignissimos dimus </a></h2>
									<span class="date">4 jannuary 2016</span>
									<a class="comm-number" href="#"><i class="fa fa-comments"></i> 4 comments</a>
								</div>
							</div>
						</div>
					
						<div class="col-md-4">
							<div class="news-post">
								<div class="news-gallery">
									<img src="angular/upload/blog/proj-2.jpg" alt="">
								</div>
								<div class="news-content">
									<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. </a></h2>
									<span class="date">4 jannuary 2016</span>
									<a class="comm-number" href="#"><i class="fa fa-comments"></i> 4 comments</a>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="news-post">
								<div class="news-gallery">
									<img src="angular/upload/blog/proj-4.jpg" alt="">
								</div>
								<div class="news-content">
									<h2><a href="single-post.html">Nam dui mi, tincidunt quis, accumsan porttitor.</a></h2>
									<span class="date">4 jannuary 2016</span>
									<a class="comm-number" href="#"><i class="fa fa-comments"></i> 4 comments</a>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</section>
		<!-- End news section -->

		<!-- testimonial-section 
			================================================== -->
		
		<!-- End testimonial section -->

		<!-- subcribe-section 
			================================================== -->
		
		<!-- End subscribe section -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-location-arrow"></i> Our Address</h2>
							<p>Your Company Name JSC1332 Your Street,</br>City World, US49 Chameleon, CA.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-envelope-o"></i> Contact Us</h2>
							<p>+1 223 334 3434 <br> info@yourcompany.com</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-clock-o"></i> Office hours</h2>
							<p>Monday to Friday: 8:00 - 18:00 <br> Saturday, Sunday: 9:00 - 14:00</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->

	<!-- Revolution slider -->
	<script type="text/javascript">
	
		var tpj=jQuery;							
		var revapi66;
		tpj(document).ready(function() {
			if(document.readyState !== "complete") {
				alert("Not completed");
			}
			
			if(tpj("#rev_slider_66_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_66_1");
			}else{
				revapi66 = tpj("#rev_slider_66_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"js/",
					sliderLayout:"fullwidth",
					dottedOverlay:"none",
					gridheight:600,
					gridwidth:1140,
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: false
						},
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 778,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
					},
					lazyType:"none",
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>
</body>
</html>